<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Админочка{% endblock %}</title>
    {% block stylesheets %}

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <!--<link rel="stylesheet" href="{{ asset('assets/framework/fontawesome-4.7.0/css/font-awesome.min.css') }}">
         <link rel="stylesheet" href="{{ asset('assets/main/css/style.css') }}"> -->
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('admin_home') }}">Symfony</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_home') }}">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_product') }}">Продукты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_user') }}">Пользователи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_category') }}">Категории</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sale
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Способы оплаты</a>
                    <a class="dropdown-item" href="#">Способы доставки</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Заказы</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="{{ path('news') }}">Выход на сайт </a>
            </li>
        </ul>

        <form class="d-flex">
            <a href="{{ path('app_logout') }}" class="btn btn-outline-info my-2 my-sm-0" type="submit">Выход</a>
        </form>
    </div>
    </div>
</nav>
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="
sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>