
{% extends 'base.html.twig' %}

{% block content %}
    <div class="ui container hide-minitablet hide-tablet hide-mobile main-wrap ">
        <div class="ui stackable grid logo-wrap">
            <div class="four wide column logo">
                <a href="/"><img src="/assets/logo.png"/></a>
            </div>
            <div class="twelve wide column top-news">
                <div class="ui grid">
                    <div class="two wide right aligned column top-news-tab">
                        <a class="hand-link item active" data-tab=newsPopular>Популярное</a>
                        <a class="hand-link item" data-tab=newsDiscussed>Обсуждаемое</a><br>
                    </div>
                    <div class="fourteen wide column top-news-link">
                        <div class="ui tab active" data-tab=newsPopular>
                            <div class="ui feed news">
                                <div class="event material-id-58501">
                                    <div class=content>
                                        <div class=summary>
                                            <a href="/blog/TEXHAPb/show/58501/sozdateli-kriptovaljuty-igra-v-kalmara-okazalis-moshennikami-a-cena-tokena-upala-na-90-000-000?utm_source=overclockers&amp;utm_medium=referral&amp;utm_term=index&amp;utm_content=top_news" class="" title="Тысяч людей потеряли все свои сбережения"> Создатели криптовалюты Игра в кальмара оказались мошенниками, а цена токена упала на 90 000 000% </a>
                                            <div class=meta> <a href="/blog/TEXHAPb/show/58501/sozdateli-kriptovaljuty-igra-v-kalmara-okazalis-moshennikami-a-cena-tokena-upala-na-90-000-000#comments" class="comments-count mid"><i class="icon comment"></i><span class=cc-real>97</span></a> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui tab" data-tab=newsDiscussed>
                            <div class="ui feed news">
                                <div class="event material-id-58509">
                                    <div class=content>
                                        <div class=summary>
                                            <a href="/blog/mpanasovsky/show/58509/processory-intel-alder-lake-dostupny-dlya-predzakaza-v-rossii-po-cene-24-990-58-590-rublej?utm_source=overclockers&amp;utm_medium=referral&amp;utm_term=index&amp;utm_content=top_news" class="" title="Продаются все шесть процессоров."> Процессоры Intel Alder Lake доступны для предзаказа в России по цене 24 990-58 590 рублей </a>
                                            <div class=meta> <a href="/blog/mpanasovsky/show/58509/processory-intel-alder-lake-dostupny-dlya-predzakaza-v-rossii-po-cene-24-990-58-590-rublej#comments" class="comments-count hot"><i class="icon comment"></i><span class=cc-real>286</span></a> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui container main-wrap ">
        <div class="ui grid">

            <div class="five wide column">
                <div class="ui grid">
                    <div class="sixteen wide column container-block additional-material">
                        <div class="ui header right floated with-submenu">
                            <div class="ui pointing secondary tabular menu idx-news-tab">
                                <a class="item active" data-tab=newsAll data-save=0>Все</a> <a class="item " data-tab=newsLab data-save=1>Редакция</a> <a class="item " data-tab=newsBlog data-save=2>Блоги</a>
                            </div>
                        </div>
                        <h2 class="ui header left floated">
                            <a href="{{ path('news') }}">Новости</a>
                        </h2>
                        <div class=clear></div>
                        <div class="ui bottom tab active" data-tab=newsAll>
                            <div class="ui feed news mixed-news-wrap with-blog">
                                <h4 class="ui horizontal divider header"> 3 ноября 2021 <a href="/news/lenta/03-11-2021">лента</a> </h4>
                                {% for item in news %}
                                    <div class="event material-id-{{item.id}} material-today">
                                        <div class=content>
                                            <div class=summary>
                                                <time datetime="{{ item.dateAdded|date('Y-m-d H:i:s') }}"> {{ item.dateAdded|date('H:i') }} </time> <a href="{{ path('news_item', {slug: item.slug}) }}" class="" title=""> {{ item.title }}</a>
                                                <div class=meta> <i class="icon circle blog"></i> <a href="{{ path('news_item', {slug: item.slug}) }}" class="comments-count "><i class="icon comment outline"></i><span class=cc-real>+</span></a> </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="ui bottom tab " data-tab=newsLab>
                            <div class="ui feed news mixed-news-wrap with-blog">
                                <h4 class="ui horizontal divider header"> 3 ноября 2021 <a href="/news/lenta/03-11-2021">лента</a> </h4>
                                <div class="event material-id-58588 material-today">
                                    <div class=content>
                                        <div class=summary>
                                            <time datetime="2021-11-03 10:17"> 12:17 </time> <a href="/blog/surpise-ot-radeon-rx-6700/show/58588/Facebook-otkljuchaet-svoju-sistemu-raspoznavaniya-lic-na-neopredelennyj-srok" class="" title="Facebook не указывает ни на один инцидент, который бы побудил к принятию этого решения, но это происходит из-за того, что система распознавания лиц (и социальная сеть в целом) подверглись критике."> Facebook отключает свою систему распознавания лиц на неопределенный срок </a>
                                            <div class=meta> <i class="icon circle blog"></i> <a href="/blog/surpise-ot-radeon-rx-6700/show/58588/Facebook-otkljuchaet-svoju-sistemu-raspoznavaniya-lic-na-neopredelennyj-srok#comments" class="comments-count "><i class="icon comment outline"></i><span class=cc-real>+</span></a> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui bottom tab " data-tab=newsBlog>
                            <div class="ui feed news mixed-news-wrap with-blog">
                                <h4 class="ui horizontal divider header"> 3 ноября 2021 <a href="/news/lenta/03-11-2021">лента</a> </h4>
                                <div class="event material-id-58588 material-today">
                                    <div class=content>
                                        <div class=summary>
                                            <time datetime="2021-11-03 10:17"> 13:17 </time> <a href="/blog/surpise-ot-radeon-rx-6700/show/58588/Facebook-otkljuchaet-svoju-sistemu-raspoznavaniya-lic-na-neopredelennyj-srok" class="" title="Facebook не указывает ни на один инцидент, который бы побудил к принятию этого решения, но это происходит из-за того, что система распознавания лиц (и социальная сеть в целом) подверглись критике."> Facebook отключает свою систему распознавания лиц на неопределенный срок </a>
                                            <div class=meta> <i class="icon circle blog"></i> <a href="/blog/surpise-ot-radeon-rx-6700/show/58588/Facebook-otkljuchaet-svoju-sistemu-raspoznavaniya-lic-na-neopredelennyj-srok#comments" class="comments-count "><i class="icon comment outline"></i><span class=cc-real>+</span></a> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui grid right aligned bottom-sec-submenu">
                            <div class="sixteen wide column">
                                <div class="section-submenu all-material-link">
                                    <a class=item href="/news">Все новости</a> <a href="/news/lenta" class=item><i class="icon calendar"></i> Лента</a><a class=item href="/rss/news.rss"><i class="icon rss"></i> RSS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui grid">
                    <div class="sixteen wide column container-block comments-feed">
                        <h3 class="ui header">
                            <i class="icon bullhorn"></i> Сейчас обсуждают
                        </h3>
                        <div class="ui comments">
                        {% for item in comments %}
                            <div class=comment>
                                <a class=avatar href="{{ path('news_item', {'slug': item.news.slug}) }}"> <img class=b-lazy src="https://overclockers.ru/assets/noavatar.png"/> </a>
                                <div class=content>
                                    <a class=author href="{{ path('news_item', {'slug': item.news.slug}) }}#cc-{{ item.id }}"> {{ item.user.getFullname() }} </a>
                                    <div class=metadata>
                                        <div class=date> {{ item.getCreateAt|date('H:i') }} </div>
                                    </div>
                                    <div class=text>
                                        <a href="{{ path('news_item', {'slug': item.news.slug}) }}#cc-{{ item.id }}"> {{ item.content }} </a>
                                    </div>
                                    <div class=extra>
                                        <a href="{{ path('news_item', {'slug': item.news.slug}) }}">{{ item.news.title }}</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="eleven wide column">
                <div class="ui grid right-content-wrap">
                    <div class="sixteen wide column container-block">
                        <div class="ui header right floated with-submenu">
                            <div class="ui pointing secondary tabular menu idx-mat-tab">
                                <a class="item active" data-tab=articlesAll data-save=0>Все</a> <a class="item " data-tab=articlesLab data-save=1>Редакция</a> <a class="item " data-tab=articlesBlog data-save=2>Блоги</a>
                            </div>
                        </div>
                        <h2 class="ui header left floated">
                            <a href="/lab">Статьи</a>
                        </h2>
                        <div class=clear></div>
                        <div class="ui bottom tab active" data-tab=articlesAll>
                            <div class="ui divided items mixed-material-wrap with-blog">
                                <div class="item article-wrap">
                                    <div class="ui image"> <a href="/lab/show/114522/hitman-2-testirovanie-chetyreh-pokolenij-videokart-i-processorov"> <img class=b-lazy src="/assets/logo_gray_stub.gif" data-src="https://overclockers.ru/st/c/350/300/images/preview/a6lQfjz36GBcofWm.jpg"> </a> </div>
                                    <div class=content>
                                        <a href="/lab/show/114522/hitman-2-testirovanie-chetyreh-pokolenij-videokart-i-processorov" class="ui header"> Hitman 2: тестирование четырех поколений видеокарт и процессоров </a>
                                        <div class=meta> <span class="category lab" data-tooltip="Материал редакции">Р</span> <span class=author> Дмитрий Олегович</span> <span class=date> 3 ноября 2021</span> </div>
                                        <div class=description> Тест 40 видеокарт (GeForce GTX 950 – RTX 3080, Radeon RX 560 – RX 5700 ХТ) и 80 процессоров (Core i3-8100 – i7-11700K, Athlon 240GE – Ryzen 7 5800X). </div>
                                        <div class=extra> <a href="/lab/show/114522/hitman-2-testirovanie-chetyreh-pokolenij-videokart-i-processorov#comments" class="comments-count "><i class="icon comment outline"></i><span class=cc-real>1</span> комментарий</a> </div>
                                    </div>
                                </div>
                                <div class="ui grid mainlist-inline-an">
                                    <div class="sixteen wide column tag-trend">
                                        <div class=tag-link-wrap> <span class="ui header">Теги дня</span> <a class="ui tag label tiny wo-border-radius" href="/tag/show/39120/call_of_duty_vanguard"> call of duty vanguard </a> <a class="ui tag label tiny wo-border-radius" href="/tag/show/39062/sankcii"> санкции </a> <a class="ui tag label tiny wo-border-radius" href="/tag/show/38722/steam_deck"> steam deck </a> <a class="ui tag label tiny wo-border-radius" href="/tag/show/38350/amazon_studios"> amazon studios </a> <a class="ui tag label tiny wo-border-radius" href="/tag/show/38254/3d_v_cache"> 3d v-cache </a> <a class="ui tag label tiny wo-border-radius" href="/tag/show/34911/starlink"> starlink </a> <a class="ui tag label tiny wo-border-radius" href="/tag/show/34526/ryzen_9_5950x"> ryzen 9 5950x </a> <a class="ui tag label tiny wo-border-radius" href="/tag/show/32736/radeon_hd_5870"> radeon hd 5870 </a> <a class="ui tag label tiny wo-border-radius" href="/tag/show/31750/zoom"> zoom </a> <a class="ui tag label tiny wo-border-radius" href="/tag/show/29389/overwatch_2"> overwatch 2 </a> <a href="/tag" class=all-tags-link>Все теги</a> </div>
                                    </div>
                                </div>

                                <div class="item article-wrap">
                                    <div class="ui image"> <a href="/blog/Zystax/show/58431/10-luchshih-igr-s-otkrytym-mirom-poslednih-let-v-kotorye-mozhno-igrat-mesyacami"> <img class="b-lazy " src="/assets/logo_gray_stub.gif" data-src="https://overclockers.ru/st/c/350/300/legacy/blog/281867/272449_O.jpg"> </a> </div>
                                    <div class=content>
                                        <a href="/blog/Zystax/show/58431/10-luchshih-igr-s-otkrytym-mirom-poslednih-let-v-kotorye-mozhno-igrat-mesyacami" class=header> 10 лучших игр с открытым миром последних лет, в которые можно играть месяцами </a>
                                        <div class=meta> <span class="category blog" data-tooltip="Материал из Блогов">Б</span> <span class=author><a href="/blog/Zystax">Zystax</a></span> <span class=date>1 ноября 2021</span> </div>
                                        <div class=description> Игры с открытым миром способны дать массу ярких эмоций и надолго увлечь игрока. Давайте вспомним лучшие, выпущенные в 2018-2021 годах. </div>
                                        <div class=extra> <a href="/blog/Zystax/show/58431/10-luchshih-igr-s-otkrytym-mirom-poslednih-let-v-kotorye-mozhno-igrat-mesyacami#comments" class="comments-count mid"><i class="icon comment"></i><span class=cc-real>59</span> комментариев</a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui bottom tab " data-tab=articlesLab>

                        </div>
                        <div class="ui bottom tab " data-tab=articlesBlog>

                        </div>
                        <div class="ui grid right aligned bottom-sec-submenu">
                            <div class="sixteen wide column">
                                <div class="section-submenu all-material-link">
                                    <a class=item href="/lab">Все материалы редакции</a> <a class=item href="http://people.overclockers.ru">Все Блоги</a>
                                    <a class=item href="/rss/lab.rss"><i class="icon rss"></i>
                                        RSS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui grid right-content-wrap">
                    <div class="row container-block woback main-right-middle">
                        <div class="column center aligned">
                            <!--h1>main_right_middle</h1-->
                            <ins data-revive-zoneid=23 data-revive-id=c1718c342c7254c976f523d07a047f6e></ins>
                        </div>
                    </div>
                </div>
                <div class="ui grid right-content-wrap">
                    <div class="sixteen wide column container-block">
                        <div class="ui grid divided">
                            <div class="eight wide column">
                                <!-- div class="ui header right floated section-submenu rss-feed-link">
                                                            <a class="item" href="/rss/itnews.rss"><i
                                                                class="icon rss"></i> RSS</a>
                                                        </div>
                                                        <h2 class="ui header left floated"-->
                                <h2 class="ui header">
                                    <a href="/itnews">IT новости</a>
                                </h2>
                                <div class="ui feed news">
                                    <div class="event material-id-113460">
                                        <div class="label date"> <time datetime="2021-09-20 13:38"> 20.09 </time> </div>
                                        <div class=content>
                                            <div class=summary>
                                                <a href="/itnews/show/113460/servery-s-professionalnymi-videokartami-nvidia-rtx-a4000-i-rtx-a5000" class="" title=""> Серверы с профессиональными видеокартами NVIDIA RTX A4000 и RTX A5000 </a>
                                                <div class=meta> <a href="/itnews/show/113460/servery-s-professionalnymi-videokartami-nvidia-rtx-a4000-i-rtx-a5000#comments" class="comments-count "><i class="icon comment outline"></i><span class=cc-real>+</span></a> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class=clear></div>
                            </div>
                            <div class="eight wide column">
                                <h2 class="ui header">
                                    <a href="https://forums.overclockers.ru/">Конференция</a>
                                </h2>
                                <div class="ui pointing secondary tabular menu forum-message">
                                    <a class="item active" data-tab=forumPosts>Сообщения</a> <a class=item data-tab=forumTopics>Темы</a>
                                </div>
                                <div class="ui bottom tab active" data-tab=forumPosts>
                                    <div class="ui feed news">
                                        <div class=event>
                                            <div class=content>
                                                <div class=summary>
                                                    <a href="https://forums.overclockers.ru/viewtopic.php?f=103&amp;t=511156&amp;p=17537193#p17537193"> Выбор 29-49&quot; ЖК-монитора формата UltraWide (21:9/24:10/32:9/32:10) </a>
                                                    <div class=meta> <a href="https://forums.overclockers.ru/viewtopic.php?f=103&t=511156&p=17537193#p17537193" class="comments-count hot"><i class="icon comment"></i><span class=cc-real>21389</span></a> </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=event>
                                            <div class=content>
                                                <div class=summary>
                                                    <a href="https://forums.overclockers.ru/viewtopic.php?f=1&amp;t=602922&amp;p=17537190#p17537190"> Китайский LGA2011-3 (X99 Huananzhi, Jingsha, Aterminer, PLEXHD) </a>
                                                    <div class=meta> <a href="https://forums.overclockers.ru/viewtopic.php?f=1&t=602922&p=17537190#p17537190" class="comments-count hot"><i class="icon comment"></i><span class=cc-real>26458</span></a> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui bottom tab" data-tab=forumTopics>
                                    <div class="ui feed news">
                                        <div class=event>
                                            <div class=content>
                                                <div class=summary>
                                                    <a href="https://forums.overclockers.ru/viewtopic.php?t=630656"> Куплю RYZEN + MB + DDR4 </a>
                                                    <div class=meta> <a href="https://forums.overclockers.ru/viewtopic.php?t=630656" class="comments-count "><i class="icon comment outline"></i><span class=cc-real>+</span></a> </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=event>
                                            <div class=content>
                                                <div class=summary>
                                                    <a href="https://forums.overclockers.ru/viewtopic.php?t=630654"> AMD Radeon R9 370X 4 Гб </a>
                                                    <div class=meta> <a href="https://forums.overclockers.ru/viewtopic.php?t=630654" class="comments-count "><i class="icon comment outline"></i><span class=cc-real>+</span></a> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui grid">
                            <div class="sixteen wide column material-other-feed">
                                <h3>Возможно вас заинтересует</h3>
                                <ins data-revive-zoneid=25 data-revive-target=_blank data-revive-id=c1718c342c7254c976f523d07a047f6e></ins>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row container-block woback">
                <!--h1>main_bottom_poster</h1-->
                <!--ins data-revive-zoneid="20" data-revive-id="c1718c342c7254c976f523d07a047f6e"></ins-->
            </div>
        </div>
    </div>
{% endblock %}

